<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>./notes/ | awooo.ru</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/articles.css" as="style">
  <link rel="stylesheet" href="./styles/articles.css">

  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   var z = null;m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90032537, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90032537" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <section id="articles-container">
      <ul>
        <% articles.reverse().map((article) => { %>
          <li class="articles-list-item">
            <a href="./article/<%= article.id %>.html">
              <h1><%= article.title %></h1>
              <time><%= article.date %></time>
              <% if (article.subtitle) { %>
                <h2><%= article.subtitle %></h2>
              <% } %>
              <ul class="articles-tags">
                <% article.tags.map((tag) => { %>
                  <li>#<%= tag.trim() %></li>
                <% }) %>
              </ul>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
  </main>
</body>
</html>
